@model KB2022.Controllers.CodeDefinition

<div class="col-lg-6 col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">

            <h4>@Model.Title:</h4>

            <pre class="prenew">
                @Html.Partial(Model.CodeFile, Model.CodeStyle)
            </pre>

        </div>
    </div>
</div>