@{
    ViewData["Title"] = "Home Page";
}

<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Code Highlighting</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-h-square fa-fw"></i> Highlight.js examples:
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">


                    <h4>Simple JS Code example:</h4>
<pre class="prenew"><code class="language-js">
const ClientRawData = () => {
    const [searchParams, setSearchParams] = useSearchParams();

    console.log(JSON.stringify(searchParams.get(`task`)));

    const data = [searchParams.get(`task`)];

    return null;
};
</code></pre>


                    <h4>Simple SQL Code example:</h4>
<pre class="prenew"><code class="language-sql">
CREATE PROCEDURE pr_cursor_template1()
BEGIN
DECLARE aGOODSLIST_ID INT;
DECLARE aGOODS VARCHAR(100);
DECLARE aFACTORYPRICE DECIMAL(10,2);
DECLARE CUR_STOP INT DEFAULT FALSE; -- Reading Control Variable
DECLARE CUR CURSOR FOR #объявляем кур

SELECT G.GOODSLIST_ID, G.GOODS, G.FACTORYPRICE FROM goodslist G;
------------ NonExisted Row Reading Handler ----------------
DECLARE CONTINUE HANDLER FOR NOT FOUND SET CUR_STOP = TRUE;
--------------------------------------------------------------------
OPEN CUR;
----------------- Unlimited Reading Loop ---------------
cur_loop: LOOP
FETCH CUR INTO aGOODSLIST_ID, aGOODS, aFACTORYPRICE;
IF CUR_STOP THEN
LEAVE cur_loop; #выход из цикла
END IF;
----------------- Data Processing ---------------------------
IF (aFACTORYPRICE>10000) THEN
BEGIN
-- ...
SELECT aGOODSLIST_ID, aGOODS, aFACTORYPRICE;
END;
END IF;
END LOOP;

CLOSE CUR;
};
</code></pre>


                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->